/**
Theme Name: Astra Child
Author: Brainstorm Force
Author URI: http://wpastra.com/about/
Description: Astra is the fastest, fully customizable & beautiful theme suitable for blogs, personal portfolios and business websites. It is very lightweight (less than 50KB on frontend) and offers unparalleled speed. Built with SEO in mind, Astra comes with schema.org code integrated so search engines will love your site. Astra offers plenty of sidebar options and widget areas giving you a full control for customizations. Furthermore, we have included special features and templates so feel free to choose any of your favorite page builder plugin to create pages flexibly. Some of the other features: # WooCommerce Ready # Responsive # Compatible with major plugins # Translation Ready # Extendible with premium addons # Regularly updated # Designed, Developed, Maintained & Supported by Brainstorm Force. Looking for a perfect base theme? Look no further. Astra is fast, fully customizable and beautiful theme!
Version: 2.4.4
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: astra-child
Template: astra
*/

/* Cache css */
#menu-top-bar-new-menu > li:last-child > a span, #menu-top-bar-new-menu > li:last-child > div a span{
    color: #6c0004!important;
    font-weight: 700;
}
#menu-top-bar-new-menu > li:last-child a:hover span{
    color: #6c0004!important;
    font-weight: 700;
    opacity: 0.8;
}
#menu-top-bar-new-menu li .phone a span:before{
    content: "\f095";
    font: normal normal normal 14px/1 FontAwesome;
    display: inline-block;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;   
	margin-right: 5px; 
}
#menu-top-bar-new-menu .sub-menu span {
    font-size: 12px!important;
    font-weight: 300!important;
}

#menu-top-bar-new-menu .sub-menu a{
        padding-top: 12px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
}
#menu-top-bar-new-menu .sub-menu {
    width: 200px;
    border: 0px!important;
}
.social-icons li a:hover i{
    color: #6C0404!important;
}


.fl-node-5fca709eae9a6 > .fl-row-content-wrap {
	background-color: #ffffff;
	box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.35);
}




.fl-node-5fca709eb49a0 {
	width: 19%;
}
.fl-builder-content .fl-node-5fca709eb49a0 > .fl-col-content {
	min-height: 100px;
}
@media(max-width: 768px) {
	.fl-builder-content .fl-node-5fca709eb49a0 {
		width: 100% !important;
		max-width: none;
		clear: none;
		float: left;
	}
}




.head-right {
	width: 81%;
}
@media (max-width: 768px) { /* Mobile Photo */
.fl-photo-content {
	width: 100%;
} } .main-logo > .fl-module-content {
	margin-top:0px;
	margin-bottom:0px;
}
@media ( max-width: 768px ) {
 .main-logo.fl-module > .fl-module-content {
	margin-left:40px;
}
}
/* UABB Advanced Menu */

.uabb-creative-menu ul,
.uabb-creative-menu li {
	list-style: none !important;
	margin: 0;
	padding: 0;
}
.uabb-creative-menu .menu:before,
.uabb-creative-menu .menu:after {
	content: '';
	display: table;
	clear: both;
}

/*  Horizontal Menu */

.uabb-creative-menu .menu {
	position: relative;
	padding-left: 0;
}
.uabb-creative-menu li {
	position: relative;
}
.uabb-creative-menu a {
	display: block;
	line-height: 1;
	text-decoration: none;
}
.uabb-creative-menu .menu a {
    box-shadow: none;
}
.uabb-creative-menu a:hover {
	text-decoration: none;
}
.uabb-creative-menu .sub-menu {
	min-width: 220px;
    margin: 0;
}
.uabb-creative-menu-horizontal {
    font-size: 0;
}
.uabb-creative-menu-horizontal li,
.uabb-creative-menu-horizontal > li {
    font-size: medium;
}
.uabb-creative-menu-horizontal > li > .uabb-has-submenu-container > a > span.menu-item-text {
    display: inline-block;
}

/* Expanded Menu */

.fl-module[data-node] .uabb-creative-menu .uabb-creative-menu-expanded .sub-menu {
	background-color: transparent;
	-webkit-box-shadow: none;
	-ms-box-shadow: none;
	box-shadow: none;
}

/* Submenus */

.uabb-creative-menu .uabb-has-submenu:focus,
.uabb-creative-menu .uabb-has-submenu .sub-menu:focus,
.uabb-creative-menu .uabb-has-submenu-container:focus {
	outline: 0;
}
.uabb-creative-menu .uabb-has-submenu-container {
	position: relative;
}

/* Submenu - accordion, expanded */

.uabb-creative-menu .uabb-creative-menu-accordion .uabb-has-submenu > .sub-menu {
	display: none;
}

/* Toggle - General */

.uabb-creative-menu .uabb-menu-toggle {
	cursor: pointer;
}

.uabb-creative-menu .uabb-toggle-arrows .uabb-menu-toggle:before,
.uabb-creative-menu .uabb-toggle-none .uabb-menu-toggle:before {
	border-color: #333;
}
.uabb-creative-menu .uabb-menu-expanded .uabb-menu-toggle {
	display: none;
}

/* Mobile menu - Hamburger icon */

.uabb-creative-menu-mobile-toggle {
	position: relative;
	padding: 8px;
	background-color: transparent;
	border: none;
	color: #333;
	border-radius: 0;
	cursor: pointer;
    display: inline-block;
    z-index: 5;
}
.uabb-creative-menu-mobile-toggle.text {
	width: 100%;
	text-align: center;
}
.uabb-creative-menu-mobile-toggle.hamburger .uabb-creative-menu-mobile-toggle-label,
.uabb-creative-menu-mobile-toggle.hamburger-label .uabb-creative-menu-mobile-toggle-label {
	display: inline-block;
	margin-left: 10px;
	vertical-align: middle;
}
.uabb-creative-menu-mobile-toggle.hamburger .uabb-svg-container,
.uabb-creative-menu-mobile-toggle.hamburger-label .uabb-svg-container {
	display: inline-block;
	position: relative;
	width: 1.4em;
	height: 1.4em;
	vertical-align: middle;
}
.uabb-creative-menu-mobile-toggle.hamburger .hamburger-menu,
.uabb-creative-menu-mobile-toggle.hamburger-label .hamburger-menu {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.uabb-creative-menu-mobile-toggle.hamburger .hamburger-menu rect,
.uabb-creative-menu-mobile-toggle.hamburger-label .hamburger-menu rect {
	fill: currentColor;
}
.uabb-creative-menu.off-canvas .uabb-off-canvas-menu .uabb-menu-close-btn {
	width: 20px;
	height: 10px;
	position: absolute;
	right: 20px;
	top: 20px;
	cursor: pointer;
	display: block;
    z-index: 99;
}
.uabb-creative-menu-mobile-toggle:focus{
	outline: thin dotted;
}

/* Overlay */

.uabb-creative-menu .uabb-menu-overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
    overflow-y: auto;
    overflow-x: hidden;
}

.uabb-creative-menu .uabb-menu-overlay > ul.menu {
	text-align: center;
    position: relative;
    top: 50%;
	width: 40%;
    height: 60%;
    margin: 0 auto;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.uabb-creative-menu .uabb-overlay-fade {
	opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 0.5s, visibility 0s 0.5s;
    transition: opacity 0.5s, visibility 0s 0.5s;
}

.uabb-creative-menu.menu-open .uabb-overlay-fade {
	opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
}

.uabb-creative-menu .uabb-overlay-slide-down {
	visibility: hidden;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-transition: -webkit-transform 0.4s ease-in-out, visibility 0s 0.4s;
    transition: transform 0.4s ease-in-out, visibility 0s 0.4s;
}

.uabb-creative-menu.menu-open .uabb-overlay-slide-down {
	visibility: visible;
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
    -webkit-transition: -webkit-transform 0.4s ease-in-out;
    transition: transform 0.4s ease-in-out;
}

.uabb-creative-menu .uabb-overlay-scale {
	visibility: hidden;
    opacity: 0;
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    -webkit-transition: -webkit-transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
    transition: transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
}

.uabb-creative-menu.menu-open .uabb-overlay-scale {
	visibility: visible;
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
    transition: transform 0.4s, opacity 0.4s;
}
 
.uabb-creative-menu .uabb-overlay-door {
	visibility: hidden;
	width: 0;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	-webkit-transition: width 0.5s 0.3s, visibility 0s 0.8s;
	transition: width 0.5s 0.3s, visibility 0s 0.8s;
}

.uabb-creative-menu.menu-open .uabb-overlay-door {
	visibility: visible;
    width: 100%;
    -webkit-transition: width 0.5s;
    transition: width 0.5s;
}

.uabb-creative-menu .uabb-overlay-door > ul.menu {
	left: 0;
	right: 0;
	transform: translateY(-50%);
}

.uabb-creative-menu .uabb-overlay-door > ul,
.uabb-creative-menu .uabb-overlay-door .uabb-menu-close-btn {
	opacity: 0;
	-webkit-transition: opacity 0.3s 0.5s;
	transition: opacity 0.3s 0.5s;
}

.uabb-creative-menu.menu-open .uabb-overlay-door > ul,
.uabb-creative-menu.menu-open .uabb-overlay-door .uabb-menu-close-btn {
	opacity: 1;
	-webkit-transition-delay: 0.5s;
	transition-delay: 0.5s;
}

.uabb-creative-menu.menu-close .uabb-overlay-door > ul,
.uabb-creative-menu.menu-close .uabb-overlay-door .uabb-menu-close-btn {
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
}

.uabb-creative-menu .uabb-menu-overlay .uabb-toggle-arrows .uabb-has-submenu-container a > span {
	padding-right: 0 !important;
}

.uabb-creative-menu .uabb-menu-overlay .uabb-menu-close-btn {
	position: absolute;
    display: block;
	width: 55px;
    height: 45px;
	right: 40px;
    top: 40px;
    overflow: hidden;
    border: none;
    outline: none;
    z-index: 100;
	font-size: 30px;
	cursor: pointer;
    background-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
}

.uabb-creative-menu .uabb-menu-overlay .uabb-menu-close-btn:before,
.uabb-creative-menu .uabb-menu-overlay .uabb-menu-close-btn:after {
	content: '';
	position: absolute;
	left: 50%;
    width: 2px;
    height: 40px;
    background-color: #ffffff;
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    -webkit-transform: translateY(0) rotate(45deg);
    transform: translateY(0) rotate(45deg);
}

.uabb-creative-menu .uabb-menu-overlay .uabb-menu-close-btn:after {
	-webkit-transform: translateY(0) rotate(-45deg);
    transform: translateY(0) rotate(-45deg);
}

/* Off Canvas */

.uabb-creative-menu .uabb-off-canvas-menu .menu {
	margin-top: 40px;
}

.uabb-creative-menu.off-canvas .uabb-clear {
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99998;
    background: rgba(0,0,0,0.0);
	visibility: hidden;
	opacity: 0;
	-webkit-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.uabb-creative-menu .uabb-off-canvas-menu.uabb-menu-left {
    position: fixed;
    top: 0;
    left: 0;
    transform: translate3d(-320px, 0px, 0px);
}

.uabb-creative-menu .uabb-off-canvas-menu.uabb-menu-right {
    position: fixed;
    top: 0;
    right: 0;
    transform: translate3d(320px, 0px, 0px);
}

.uabb-creative-menu .uabb-off-canvas-menu {
    z-index: 99999;
    width: 300px;
    height: 100%;
    background: rgb(55, 58, 71);
    padding: 60px 20px;
    -webkit-transition: all 0.8s;
    transition: transform 0.8s ease;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    perspective: 1000;
    backface-visibility: hidden;
}

.menu-open.uabb-creative-menu .uabb-off-canvas-menu.uabb-menu-left {
    transform: translate3d(0px, 0px, 0px);
    transition: transform 0.8s ease;
}

.menu-open.uabb-creative-menu .uabb-off-canvas-menu.uabb-menu-right {
    transform: translate3d(0px, 0px, 0px);
    transition: transform 0.8s ease;
}
.uabb-creative-menu.off-canvas.menu-open .uabb-clear {
	visibility: visible;
	opacity: 1;
}

@media ( max-width: 992px ) {
	.uabb-creative-menu .uabb-menu-overlay .uabb-menu-close-btn {
		right: 20px;
	    top: 20px;
	}
}
/* Menu alignment */

.top-bar-menu .uabb-creative-menu .menu {
	text-align: right;
}

	.uabb-creative-menu-expanded ul.sub-menu li a,
	.uabb-creative-menu-accordion ul.sub-menu li a,
	.uabb-creative-menu-accordion ul.sub-menu li .uabb-has-submenu-container a,
	.uabb-creative-menu-expanded ul.sub-menu li .uabb-has-submenu-container a {
		text-indent: 20px;
		direction: rtl;
	}
	.uabb-creative-menu-expanded ul.sub-menu li li a,
	.uabb-creative-menu-accordion ul.sub-menu li li a,
	.uabb-creative-menu-accordion ul.sub-menu li li .uabb-has-submenu-container a,
	.uabb-creative-menu-expanded ul.sub-menu li li .uabb-has-submenu-container a {
		text-indent: 30px;
		direction: rtl;
	}
	.uabb-creative-menu-expanded ul.sub-menu li li li a,
	.uabb-creative-menu-accordion ul.sub-menu li li li a,
	.uabb-creative-menu-accordion ul.sub-menu li li li .uabb-has-submenu-container a,
	.uabb-creative-menu-expanded ul.sub-menu li li li .uabb-has-submenu-container a {
		text-indent: 40px;
		direction: rtl;
	}
	.uabb-creative-menu-expanded ul.sub-menu li li li li a,
	.uabb-creative-menu-accordion ul.sub-menu li li li li a,
	.uabb-creative-menu-accordion ul.sub-menu li li li li .uabb-has-submenu-container a,
	.uabb-creative-menu-expanded ul.sub-menu li li li li .uabb-has-submenu-container a {
		text-indent: 50px;
		direction: rtl;
	}




		.top-bar-menu .uabb-creative-menu .menu.uabb-creative-menu-horizontal > li > a span.uabb-menu-toggle,
		.top-bar-menu .uabb-creative-menu .menu.uabb-creative-menu-horizontal > li > .uabb-has-submenu-container a span.uabb-menu-toggle {
			padding-left: 10px;
			float: right;
		}
		.top-bar-menu .uabb-creative-menu .menu.uabb-creative-menu-horizontal .uabb-menu-toggle {
			padding-left: 10px;
			float: right;
		}
	
	
	

/**
* Overall menu styling
*/

.top-bar-menu .uabb-creative-menu .menu > li {

	margin-top:0px;margin-bottom:0px;margin-left:0px;margin-right:0px;}



			.top-bar-menu .menu .uabb-has-submenu .sub-menu {
			display: none;
		}
	
	.top-bar-menu .uabb-creative-menu li:first-child {
		border-top: none;
	}

	
	
	
	
			@media only screen and ( min-width: 769px ) {

							.top-bar-menu .menu > li {
				display: inline-block;
			}

			.top-bar-menu .menu li {
				border-left: none;
				border-top: none;
			}
			.top-bar-menu .menu li li {
				border-top: none;
				border-left: none;
			}

			.top-bar-menu .menu .uabb-has-submenu .sub-menu {
				position: absolute;
				top: 100%;
				left: 0;
				z-index: 16;
				visibility: hidden;
				opacity: 0;
				text-align:left;
				transition: all 300ms ease-in;
			}

			.top-bar-menu .uabb-has-submenu .uabb-has-submenu .sub-menu {
				top:  0;
				left: 100%;
			}

					
				
			.top-bar-menu .uabb-creative-menu .uabb-has-submenu:hover > .sub-menu,
			.top-bar-menu .uabb-creative-menu .uabb-has-submenu:focus > .sub-menu {
				visibility: visible;
				opacity: 1;
				display: block;
			}

			.top-bar-menu .uabb-creative-menu .uabb-has-submenu:focus-within > .sub-menu {
				visibility: visible;
				opacity: 1;
				display: block;
			}

			.top-bar-menu .menu .uabb-has-submenu.uabb-menu-submenu-right .sub-menu {
				top: 100%;
				left: inherit;
				right: 0;
			}

			.top-bar-menu .menu .uabb-has-submenu .uabb-has-submenu.uabb-menu-submenu-right .sub-menu {
				top: 0;
				left: inherit;
				right: 100%;
			}

							.top-bar-menu .uabb-creative-menu .uabb-has-submenu-container a span.menu-item-text {
					color: #a8a799;
				}
				.top-bar-menu .uabb-creative-menu .uabb-menu-toggle {
					display: none;
				}
			
			
			
				}

		.top-bar-menu .uabb-creative-menu.uabb-menu-default .menu > li > a,
.top-bar-menu .uabb-creative-menu.uabb-menu-default .menu > li > .uabb-has-submenu-container > a {
	padding-top:0px;padding-bottom:0px;padding-left: 10px;padding-right: 10px;}

.top-bar-menu .uabb-creative-menu .menu > li > a,
.top-bar-menu .uabb-creative-menu .menu > li > .uabb-has-submenu-container > a {
	}

.top-bar-menu .uabb-creative-menu .menu > li > a,
.top-bar-menu .uabb-creative-menu .menu > li > .uabb-has-submenu-container > a {

	}

.top-bar-menu .fl-module-content .uabb-creative-menu .menu > li > a span.menu-item-text,
.top-bar-menu .fl-module-content .uabb-creative-menu .menu > li > .uabb-has-submenu-container > a span.menu-item-text {
	width: 100%;
			color:#a8a799;
	}


				.top-bar-menu .uabb-creative-menu .uabb-toggle-arrows .uabb-menu-toggle:before,
		.top-bar-menu .uabb-creative-menu .uabb-toggle-none .uabb-menu-toggle:before {
			color: #a8a799;
		}
		


/* Sub-menu */
.top-bar-menu .uabb-creative-menu .sub-menu > li > a,
.top-bar-menu .uabb-creative-menu .sub-menu > li > .uabb-has-submenu-container > a {
	padding-top:.0px;padding-bottom:0px;padding-left: 15px;padding-right: 15px;
	background-color: #edecec;
}

.top-bar-menu .uabb-creative-menu:not(.off-canvas):not(.full-screen):not(.menu-item) .uabb-creative-menu .sub-menu {
	min-width: 0px;
}

.top-bar-menu .uabb-creative-menu .sub-menu > li.uabb-creative-menu > a > span,
.top-bar-menu .uabb-creative-menu .sub-menu > li > .uabb-has-submenu-container > a > span {
	color: #333333;
}

.top-bar-menu .uabb-creative-menu .sub-menu > li {
			border-bottom-style: solid;
				border-bottom-width: 1px;
						border-bottom-color: #e3e2e3;
			}

.top-bar-menu .uabb-creative-menu .sub-menu > li:last-child {
	border-bottom: none;
}
.top-bar-menu .uabb-creative-menu ul.sub-menu > li.uabb-creative-menu.uabb-has-submenu li:first-child,
.top-bar-menu .uabb-creative-menu ul.sub-menu > li.uabb-creative-menu.uabb-has-submenu li li:first-child {
	border-top: none;
}
.top-bar-menu .uabb-creative-menu .sub-menu > li.uabb-active > .sub-menu > li:first-child,
.top-bar-menu .uabb-creative-menu .menu.uabb-creative-menu-expanded .sub-menu > li > .sub-menu > li:first-child {
			border-top-style: solid;
				border-top-width: 1px;
						border-top-color: #e3e2e3;
			}




.top-bar-menu .uabb-creative-menu .sub-menu {
			-webkit-box-shadow: 2px 2px 4px 1px rgba(0,0,0,0.3);
		-moz-box-shadow: 2px 2px 4px 1px rgba(0,0,0,0.3);
		-o-box-shadow: 2px 2px 4px 1px rgba(0,0,0,0.3);
		box-shadow: 2px 2px 4px 1px rgba(0,0,0,0.3);
	}


.top-bar-menu .uabb-creative-menu .sub-menu > li:last-child > a,
.top-bar-menu .uabb-creative-menu .sub-menu > li:last-child > .uabb-has-submenu-container > a {
	border: 0;
}

.top-bar-menu .uabb-creative-menu ul.sub-menu > li.menu-item.uabb-creative-menu > a:hover span.menu-item-text,
.top-bar-menu .uabb-creative-menu ul.sub-menu > li.menu-item.uabb-creative-menu > a:focus span.menu-item-text,
.top-bar-menu .uabb-creative-menu ul.sub-menu > li.menu-item.uabb-creative-menu > .uabb-has-submenu-container > a:hover span.menu-item-text,
.top-bar-menu .uabb-creative-menu ul.sub-menu > li.menu-item.uabb-creative-menu > .uabb-has-submenu-container > a:focus span.menu-item-text {
	color: #;
}

.top-bar-menu .uabb-creative-menu .sub-menu > li > a:hover,
.top-bar-menu .uabb-creative-menu .sub-menu > li > a:focus,
.top-bar-menu .uabb-creative-menu .sub-menu > li > .uabb-has-submenu-container > a:hover,
.top-bar-menu .uabb-creative-menu .sub-menu > li > .uabb-has-submenu-container > a:focus {
	background-color: #f5f5f5;
}


				.top-bar-menu .uabb-creative-menu .uabb-toggle-arrows .sub-menu li .uabb-menu-toggle:before,
		.top-bar-menu .uabb-creative-menu .uabb-toggle-none .sub-menu li .uabb-menu-toggle:before {
			color: #333333;
		}
		

/* Toggle button */


		@media only screen and ( max-width: 768px ) {
	
	.top-bar-menu .uabb-creative-menu .uabb-menu-overlay .menu {
		margin-top: 40px;
	}
	.top-bar-menu .uabb-creative-menu .menu {
		text-align: right;
	}

	
	
	
			.top-bar-menu .uabb-creative-menu .menu > li > a span.uabb-menu-toggle,
			.top-bar-menu .uabb-creative-menu .menu > li > .uabb-has-submenu-container a span.menu-item-text > span.uabb-menu-toggle {
				padding-left: 10px;
				float: right;
			}
			.top-bar-menu .uabb-creative-menu .menu .uabb-menu-toggle {
				padding-left: 10px;
				float: right;
			}

				}
	
@media only screen and (max-width: 992px) {

	.top-bar-menu .uabb-creative-menu-mobile-toggle-container,
	.top-bar-menu .uabb-creative-menu-mobile-toggle-container > .uabb-creative-menu-mobile-toggle.text {
		text-align: ;
	}
	.top-bar-menu .uabb-creative-menu .menu > li {
				}

	.top-bar-menu .uabb-creative-menu.off-canvas .menu > li > a,
	.top-bar-menu .uabb-creative-menu.off-canvas .menu > li > .uabb-has-submenu-container > a {
			}

	.top-bar-menu .uabb-creative-menu.uabb-menu-default .menu > li > a,
	.top-bar-menu .uabb-creative-menu.uabb-menu-default .menu > li > .uabb-has-submenu-container > a {
			}

	.top-bar-menu .uabb-creative-menu.full-screen .menu > li > a,
	.top-bar-menu .uabb-creative-menu.full-screen .menu > li > .uabb-has-submenu-container > a {
			}

	
	.top-bar-menu .uabb-creative-menu .sub-menu > li > a,
	.top-bar-menu .uabb-creative-menu .sub-menu > li > .uabb-has-submenu-container > a {

				}

	
	.top-bar-menu .uabb-creative-menu .uabb-off-canvas-menu {
			}
	
	
	
	
			.top-bar-menu .uabb-creative-menu .menu > li > a span.uabb-menu-toggle,
			.top-bar-menu .uabb-creative-menu .menu > li > .uabb-has-submenu-container a span.menu-item-text > span.uabb-menu-toggle {
				padding-left: 10px;
				float: right;
			}
			.top-bar-menu .uabb-creative-menu .menu .uabb-menu-toggle {
				padding-left: 10px;
				float: right;
			}

	}

@media only screen and (max-width: 768px) {

	.top-bar-menu .uabb-creative-menu-mobile-toggle-container,
	.top-bar-menu .uabb-creative-menu-mobile-toggle-container > .uabb-creative-menu-mobile-toggle.text {
		text-align: ;
	}
	.top-bar-menu .uabb-creative-menu .menu > li {
			}

	.top-bar-menu .uabb-creative-menu.off-canvas .menu > li > a,
	.top-bar-menu .uabb-creative-menu.off-canvas .menu > li > .uabb-has-submenu-container > a {
			}

	.top-bar-menu .uabb-creative-menu.uabb-menu-default .menu > li > a,
	.top-bar-menu .uabb-creative-menu.uabb-menu-default .menu > li > .uabb-has-submenu-container > a {
			}

	.top-bar-menu .uabb-creative-menu.full-screen .menu > li > a,
	.top-bar-menu .uabb-creative-menu.full-screen .menu > li > .uabb-has-submenu-container > a {
			}

	
	.top-bar-menu .uabb-creative-menu .sub-menu > li > a,
	.top-bar-menu .uabb-creative-menu .sub-menu > li > .uabb-has-submenu-container > a {

				}

	
	.top-bar-menu .uabb-creative-menu .uabb-off-canvas-menu {
			}
		.top-bar-menu .uabb-creative-menu .menu {
		text-align: right;
	}

	
	
	
			.top-bar-menu .uabb-creative-menu .menu > li > a span.uabb-menu-toggle,
			.top-bar-menu .uabb-creative-menu .menu > li > .uabb-has-submenu-container a span.menu-item-text > span.uabb-menu-toggle {
				padding-left: 10px;
				float: right;
			}
			.top-bar-menu .uabb-creative-menu .menu .uabb-menu-toggle {
				padding-left: 10px;
				float: right;
			}

	}

@media only screen and (max-width: 992px) {
	}

@media only screen and (max-width: 768px) {
	}

/***************************** Overlay *********************************/


/***************************** Accordion **********************************/

/***************************** Off Canvas **********************************/
.top-bar-menu .uabb-creative-menu .menu > li > a,.top-bar-menu .uabb-creative-menu .menu > li > .uabb-has-submenu-container > a {
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
	font-size: 12px;
	line-height: 16px;
	text-transform: uppercase;
}
.top-bar-menu .uabb-creative-menu .uabb-creative-menu-vertical .sub-menu, .top-bar-menu .uabb-creative-menu .uabb-creative-menu-horizontal .sub-menu {
	border-style: solid;
	border-width: 0;
	background-clip: border-box;
	border-color: #000000;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
}
.top-bar-menu .uabb-creative-menu .uabb-creative-menu-expanded.menu > .uabb-has-submenu > .sub-menu, .top-bar-menu .uabb-creative-menu .uabb-creative-menu-accordion.menu > .uabb-has-submenu > .sub-menu {
	border-style: solid;
	border-width: 0;
	background-clip: border-box;
	border-color: #000000;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
}
 .top-bar-menu > .fl-module-content {
	margin-top:0px;
	margin-bottom:0px;
}
.br-line .fl-separator {
	border-top:1px solid #cccccc;
	max-width: 100%;
	margin: auto;
}

/* Menu alignment */

.main-menu .uabb-creative-menu .menu {
	text-align: right;
}

	.uabb-creative-menu-expanded ul.sub-menu li a,
	.uabb-creative-menu-accordion ul.sub-menu li a,
	.uabb-creative-menu-accordion ul.sub-menu li .uabb-has-submenu-container a,
	.uabb-creative-menu-expanded ul.sub-menu li .uabb-has-submenu-container a {
		text-indent: 20px;
		direction: rtl;
	}
	.uabb-creative-menu-expanded ul.sub-menu li li a,
	.uabb-creative-menu-accordion ul.sub-menu li li a,
	.uabb-creative-menu-accordion ul.sub-menu li li .uabb-has-submenu-container a,
	.uabb-creative-menu-expanded ul.sub-menu li li .uabb-has-submenu-container a {
		text-indent: 30px;
		direction: rtl;
	}
	.uabb-creative-menu-expanded ul.sub-menu li li li a,
	.uabb-creative-menu-accordion ul.sub-menu li li li a,
	.uabb-creative-menu-accordion ul.sub-menu li li li .uabb-has-submenu-container a,
	.uabb-creative-menu-expanded ul.sub-menu li li li .uabb-has-submenu-container a {
		text-indent: 40px;
		direction: rtl;
	}
	.uabb-creative-menu-expanded ul.sub-menu li li li li a,
	.uabb-creative-menu-accordion ul.sub-menu li li li li a,
	.uabb-creative-menu-accordion ul.sub-menu li li li li .uabb-has-submenu-container a,
	.uabb-creative-menu-expanded ul.sub-menu li li li li .uabb-has-submenu-container a {
		text-indent: 50px;
		direction: rtl;
	}




		.main-menu .uabb-creative-menu .menu.uabb-creative-menu-horizontal > li > a span.uabb-menu-toggle,
		.main-menu .uabb-creative-menu .menu.uabb-creative-menu-horizontal > li > .uabb-has-submenu-container a span.uabb-menu-toggle {
			padding-left: 10px;
			float: right;
		}
		.main-menu .uabb-creative-menu .menu.uabb-creative-menu-horizontal .uabb-menu-toggle {
			padding-left: 10px;
			float: right;
		}
	
	
	

/**
* Overall menu styling
*/

.main-menu .uabb-creative-menu .menu > li {

	margin-top: 5px;margin-bottom: 5px;margin-left: 5px;margin-right: 5px;}


	.main-menu .uabb-creative-menu .uabb-menu-toggle:before {
		content: '\f107';
		font-family: 'Font Awesome 5 Free';
		z-index: 1;
		font-size: inherit;
		line-height: 0;
		font-weight: 900;
	}
	
			.main-menu .menu .uabb-has-submenu .sub-menu {
			display: none;
		}
	
	.main-menu .uabb-creative-menu li:first-child {
		border-top: none;
	}

	
	
	
	
			@media only screen and ( min-width: 769px ) {

							.main-menu .menu > li {
				display: inline-block;
			}

			.main-menu .menu li {
				border-left: none;
				border-top: none;
			}
			.main-menu .menu li li {
				border-top: none;
				border-left: none;
			}

			.main-menu .menu .uabb-has-submenu .sub-menu {
				position: absolute;
				top: 100%;
				left: 0;
				z-index: 16;
				visibility: hidden;
				opacity: 0;
				text-align:left;
				transition: all 300ms ease-in;
			}

			.main-menu .uabb-has-submenu .uabb-has-submenu .sub-menu {
				top:  0;
				left: 100%;
			}

					
				
			.main-menu .uabb-creative-menu .uabb-has-submenu:hover > .sub-menu,
			.main-menu .uabb-creative-menu .uabb-has-submenu:focus > .sub-menu {
				visibility: visible;
				opacity: 1;
				display: block;
			}

			.main-menu .uabb-creative-menu .uabb-has-submenu:focus-within > .sub-menu {
				visibility: visible;
				opacity: 1;
				display: block;
			}

			.main-menu .menu .uabb-has-submenu.uabb-menu-submenu-right .sub-menu {
				top: 100%;
				left: inherit;
				right: 0;
			}

			.main-menu .menu .uabb-has-submenu .uabb-has-submenu.uabb-menu-submenu-right .sub-menu {
				top: 0;
				left: inherit;
				right: 100%;
			}

			
			
			
				}

		.main-menu .uabb-creative-menu.uabb-menu-default .menu > li > a,
.main-menu .uabb-creative-menu.uabb-menu-default .menu > li > .uabb-has-submenu-container > a {
	padding-top: 10px;padding-bottom: 10px;padding-left: 10px;padding-right: 10px;}

.main-menu .uabb-creative-menu .menu > li > a,
.main-menu .uabb-creative-menu .menu > li > .uabb-has-submenu-container > a {
	}

.main-menu .uabb-creative-menu .menu > li > a,
.main-menu .uabb-creative-menu .menu > li > .uabb-has-submenu-container > a {

	}

.main-menu .fl-module-content .uabb-creative-menu .menu > li > a span.menu-item-text,
.main-menu .fl-module-content .uabb-creative-menu .menu > li > .uabb-has-submenu-container > a span.menu-item-text {
	width: 100%;
			color:#000000;
	}


				.main-menu .uabb-creative-menu .uabb-toggle-arrows .uabb-menu-toggle:before,
		.main-menu .uabb-creative-menu .uabb-toggle-none .uabb-menu-toggle:before {
			color: #000000;
		}
		

				.main-menu .uabb-creative-menu .uabb-toggle-arrows li:hover .uabb-menu-toggle:before,
		.main-menu .uabb-creative-menu .uabb-toggle-arrows .uabb-creative-menu.current-menu-item .uabb-menu-toggle:before,
		.main-menu .uabb-creative-menu .uabb-toggle-arrows .uabb-creative-menu.current-menu-ancestor .uabb-menu-toggle:before,
		.main-menu .uabb-creative-menu .uabb-toggle-none li:hover .uabb-menu-toggle:before {
			color: #9e1717;
		}
			
	.main-menu .uabb-creative-menu .menu > li > a:hover,
	.main-menu .uabb-creative-menu .menu > li > a:focus,
	.main-menu .uabb-creative-menu .menu > li:hover > .uabb-has-submenu-container > a,
	.main-menu .uabb-creative-menu .menu > li:focus > .uabb-has-submenu-container > a,
	.main-menu .uabb-creative-menu .menu > li.current-menu-item > a,
	.main-menu .uabb-creative-menu .menu > li.current-menu-item > a,
	.main-menu .uabb-creative-menu .menu > li.current-menu-ancestor > .uabb-has-submenu-container > a,
	.main-menu .uabb-creative-menu .menu > li.current-menu-item > .uabb-has-submenu-container > a {
					border-color: #9e1717;
			}

	.main-menu .uabb-creative-menu .sub-menu > li.current-menu-item > a,
	.main-menu .uabb-creative-menu .sub-menu > li.current-menu-item > .uabb-has-submenu-container > a,
	.main-menu .uabb-creative-menu .sub-menu > li.current-menu-ancestor > a,
	.main-menu .uabb-creative-menu .sub-menu > li.current-menu-ancestor > .uabb-has-submenu-container > a {
					background-color: #f5f5f5;
			}

	.main-menu .uabb-creative-menu .menu > li > a:hover span.menu-item-text,
	.main-menu .uabb-creative-menu .menu > li > a:focus span.menu-item-text,
	.main-menu .uabb-creative-menu .menu > li:hover > .uabb-has-submenu-container > a span.menu-item-text,
	.main-menu .uabb-creative-menu .menu > li:focus > .uabb-has-submenu-container > a span.menu-item-text,
	.main-menu .uabb-creative-menu .menu > li.current-menu-item > a span.menu-item-text,
	.main-menu .uabb-creative-menu .menu > li.current-menu-item > .uabb-has-submenu-container > a span.menu-item-text,
	.main-menu .uabb-creative-menu .menu > li.focus > .uabb-has-submenu-container > a span.menu-item-text,
	.main-menu .uabb-creative-menu .menu > li.focus > a span.menu-item-text,
	.main-menu .uabb-creative-menu .menu > li.current-menu-ancestor > .uabb-has-submenu-container > a span.menu-item-text,
	.main-menu .uabb-creative-menu .menu > li.current-menu-ancestor > .uabb-has-submenu-container > a span.menu-item-text > i {
		color: #9e1717;	}

	.main-menu .uabb-creative-menu .sub-menu > li.current-menu-item > a span.menu-item-text,
	.main-menu .uabb-creative-menu .sub-menu > li.current-menu-item > .uabb-has-submenu-container > a span.menu-item-text,
	.main-menu .uabb-creative-menu .sub-menu > li.current-menu-item > a span.menu-item-text > i,
	.main-menu .uabb-creative-menu .sub-menu > li.current-menu-item > .uabb-has-submenu-container > a span.menu-item-text > i,
	.main-menu .uabb-creative-menu .sub-menu > li.current-menu-ancestor > a span.menu-item-text,
	.main-menu .uabb-creative-menu .sub-menu > li.current-menu-ancestor > .uabb-has-submenu-container > a span.menu-item-text,
	.main-menu .uabb-creative-menu .sub-menu > li.current-menu-ancestor > a span.menu-item-text > i,
	.main-menu .uabb-creative-menu .sub-menu > li.current-menu-ancestor > .uabb-has-submenu-container > a span.menu-item-text > i {
		color: #9e1717;	}

			.main-menu .uabb-creative-menu .uabb-toggle-arrows .uabb-has-submenu-container:hover > .uabb-menu-toggle:before,
		.main-menu .uabb-creative-menu .uabb-toggle-arrows .uabb-has-submenu-container.focus > .uabb-menu-toggle:before,
		.main-menu .uabb-creative-menu .uabb-toggle-arrows li.current-menu-item >.uabb-has-submenu-container > .uabb-menu-toggle:before,
		.main-menu .uabb-creative-menu .uabb-toggle-none .uabb-has-submenu-container:hover > .uabb-menu-toggle:before,
		.main-menu .uabb-creative-menu .uabb-toggle-none .uabb-has-submenu-container.focus > .uabb-menu-toggle:before,
		.main-menu .uabb-creative-menu .uabb-toggle-none li.current-menu-item >.uabb-has-submenu-container > .uabb-menu-toggle:before {
			color: #9e1717;
		}
		

/* Sub-menu */
.main-menu .uabb-creative-menu .sub-menu > li > a,
.main-menu .uabb-creative-menu .sub-menu > li > .uabb-has-submenu-container > a {
	padding-top: 15px;padding-bottom: 15px;padding-left: 15px;padding-right: 15px;
	background-color: #edecec;
}

.main-menu .uabb-creative-menu:not(.off-canvas):not(.full-screen):not(.menu-item) .uabb-creative-menu .sub-menu {
	min-width: 220px;
}

.main-menu .uabb-creative-menu .sub-menu > li.uabb-creative-menu > a > span,
.main-menu .uabb-creative-menu .sub-menu > li > .uabb-has-submenu-container > a > span {
	color: #333333;
}

.main-menu .uabb-creative-menu .sub-menu > li {
			border-bottom-style: solid;
				border-bottom-width: 1px;
						border-bottom-color: #e3e2e3;
			}

.main-menu .uabb-creative-menu .sub-menu > li:last-child {
	border-bottom: none;
}
.main-menu .uabb-creative-menu ul.sub-menu > li.uabb-creative-menu.uabb-has-submenu li:first-child,
.main-menu .uabb-creative-menu ul.sub-menu > li.uabb-creative-menu.uabb-has-submenu li li:first-child {
	border-top: none;
}
.main-menu .uabb-creative-menu .sub-menu > li.uabb-active > .sub-menu > li:first-child,
.main-menu .uabb-creative-menu .menu.uabb-creative-menu-expanded .sub-menu > li > .sub-menu > li:first-child {
			border-top-style: solid;
				border-top-width: 1px;
						border-top-color: #e3e2e3;
			}




.main-menu .uabb-creative-menu .sub-menu {
			-webkit-box-shadow: 2px 2px 4px 1px rgba(0,0,0,0.3);
		-moz-box-shadow: 2px 2px 4px 1px rgba(0,0,0,0.3);
		-o-box-shadow: 2px 2px 4px 1px rgba(0,0,0,0.3);
		box-shadow: 2px 2px 4px 1px rgba(0,0,0,0.3);
	}


.main-menu .uabb-creative-menu .sub-menu > li:last-child > a,
.main-menu .uabb-creative-menu .sub-menu > li:last-child > .uabb-has-submenu-container > a {
	border: 0;
}

.main-menu .uabb-creative-menu ul.sub-menu > li.menu-item.uabb-creative-menu > a:hover span.menu-item-text,
.main-menu .uabb-creative-menu ul.sub-menu > li.menu-item.uabb-creative-menu > a:focus span.menu-item-text,
.main-menu .uabb-creative-menu ul.sub-menu > li.menu-item.uabb-creative-menu > .uabb-has-submenu-container > a:hover span.menu-item-text,
.main-menu .uabb-creative-menu ul.sub-menu > li.menu-item.uabb-creative-menu > .uabb-has-submenu-container > a:focus span.menu-item-text {
	color: #9e1717;
}

.main-menu .uabb-creative-menu .sub-menu > li > a:hover,
.main-menu .uabb-creative-menu .sub-menu > li > a:focus,
.main-menu .uabb-creative-menu .sub-menu > li > .uabb-has-submenu-container > a:hover,
.main-menu .uabb-creative-menu .sub-menu > li > .uabb-has-submenu-container > a:focus {
	background-color: #f5f5f5;
}


				.main-menu .uabb-creative-menu .uabb-toggle-arrows .sub-menu li .uabb-menu-toggle:before,
		.main-menu .uabb-creative-menu .uabb-toggle-none .sub-menu li .uabb-menu-toggle:before {
			color: #333333;
		}
		

				.main-menu .uabb-creative-menu .uabb-toggle-arrows .sub-menu li:hover .uabb-menu-toggle:before,
		.main-menu .uabb-creative-menu .uabb-toggle-none .sub-menu li:hover .uabb-menu-toggle:before {
			color: #9e1717;
		}
		
/* Toggle button */


		@media only screen and ( max-width: 768px ) {
	
	.main-menu .uabb-creative-menu .uabb-menu-overlay .menu {
		margin-top: 40px;
	}
	.main-menu .uabb-creative-menu .menu {
		text-align: center;
	}

	
	
			.main-menu .uabb-creative-menu .menu > li > a span.uabb-menu-toggle,
			.main-menu .uabb-creative-menu .menu > li > .uabb-has-submenu-container a span.menu-item-text > span.uabb-menu-toggle {
				padding-left: 10px;
				float: right;
			}
			.main-menu .uabb-creative-menu .menu .uabb-menu-toggle {
				padding-left: 10px;
				float: right;
			}

	
				}
	
@media only screen and (max-width: 992px) {

	.main-menu .uabb-creative-menu-mobile-toggle-container,
	.main-menu .uabb-creative-menu-mobile-toggle-container > .uabb-creative-menu-mobile-toggle.text {
		text-align: ;
	}
	.main-menu .uabb-creative-menu .menu > li {
				}

	.main-menu .uabb-creative-menu.off-canvas .menu > li > a,
	.main-menu .uabb-creative-menu.off-canvas .menu > li > .uabb-has-submenu-container > a {
			}

	.main-menu .uabb-creative-menu.uabb-menu-default .menu > li > a,
	.main-menu .uabb-creative-menu.uabb-menu-default .menu > li > .uabb-has-submenu-container > a {
			}

	.main-menu .uabb-creative-menu.full-screen .menu > li > a,
	.main-menu .uabb-creative-menu.full-screen .menu > li > .uabb-has-submenu-container > a {
			}

	
	.main-menu .uabb-creative-menu .sub-menu > li > a,
	.main-menu .uabb-creative-menu .sub-menu > li > .uabb-has-submenu-container > a {

				}

	
	.main-menu .uabb-creative-menu .uabb-off-canvas-menu {
			}
	
	
	
			.main-menu .uabb-creative-menu .menu > li > a span.uabb-menu-toggle,
			.main-menu .uabb-creative-menu .menu > li > .uabb-has-submenu-container a span.menu-item-text > span.uabb-menu-toggle {
				padding-left: 10px;
				float: right;
			}
			.main-menu .uabb-creative-menu .menu .uabb-menu-toggle {
				padding-left: 10px;
				float: right;
			}

	
	}

@media only screen and (max-width: 768px) {

	.main-menu .uabb-creative-menu-mobile-toggle-container,
	.main-menu .uabb-creative-menu-mobile-toggle-container > .uabb-creative-menu-mobile-toggle.text {
		text-align: ;
	}
	.main-menu .uabb-creative-menu .menu > li {
			}

	.main-menu .uabb-creative-menu.off-canvas .menu > li > a,
	.main-menu .uabb-creative-menu.off-canvas .menu > li > .uabb-has-submenu-container > a {
			}

	.main-menu .uabb-creative-menu.uabb-menu-default .menu > li > a,
	.main-menu .uabb-creative-menu.uabb-menu-default .menu > li > .uabb-has-submenu-container > a {
			}

	.main-menu .uabb-creative-menu.full-screen .menu > li > a,
	.main-menu .uabb-creative-menu.full-screen .menu > li > .uabb-has-submenu-container > a {
			}

	
	.main-menu .uabb-creative-menu .sub-menu > li > a,
	.main-menu .uabb-creative-menu .sub-menu > li > .uabb-has-submenu-container > a {

				}

	
	.main-menu .uabb-creative-menu .uabb-off-canvas-menu {
			}
		.main-menu .uabb-creative-menu .menu {
		text-align: center;
	}

	
	
			.main-menu .uabb-creative-menu .menu > li > a span.uabb-menu-toggle,
			.main-menu .uabb-creative-menu .menu > li > .uabb-has-submenu-container a span.menu-item-text > span.uabb-menu-toggle {
				float: right;
			}
			.main-menu .uabb-creative-menu .menu .uabb-menu-toggle {
				float: right;
			}

	
	}

@media only screen and (max-width: 992px) {
	}

@media only screen and (max-width: 768px) {
	}

/***************************** Overlay *********************************/


/***************************** Accordion **********************************/

/***************************** Off Canvas **********************************/
.main-menu .uabb-creative-menu .menu > li > a,.main-menu .uabb-creative-menu .menu > li > .uabb-has-submenu-container > a {
	font-weight: 300;
	font-size: 14px;
	text-transform: uppercase;
}
.main-menu .uabb-creative-menu .menu > li > a, .main-menu .uabb-creative-menu .menu > li > .uabb-has-submenu-container > a {
	border-style: solid;
	border-width: 0;
	background-clip: border-box;
	border-color: rgba(255,0,0,0);
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 5px;
	border-left-width: 0px;
}
.main-menu .uabb-creative-menu .sub-menu > li > a,.main-menu .uabb-creative-menu .sub-menu > li > .uabb-has-submenu-container > a {
	font-size: 12px;
}
.main-menu .uabb-creative-menu .uabb-creative-menu-expanded.menu > .uabb-has-submenu > .sub-menu, .main-menu .uabb-creative-menu .uabb-creative-menu-accordion.menu > .uabb-has-submenu > .sub-menu {
	border-style: solid;
	border-width: 0;
	background-clip: border-box;
	border-color: #000000;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
}
 .main-menu > .fl-module-content {
	margin-top:0px;
	margin-bottom:0px;
}

/* Start Global Nodes CSS */

/* End Global Nodes CSS */


/* Start Layout CSS */

/* End Layout CSS */

/* Equal height Column Bottom Alignment */
.fl-col-group-equal-height.fl-col-group-align-bottom .fl-col-content {
    -webkit-justify-content: flex-end;
            justify-content: flex-end;
          -webkit-box-align: end;
           -webkit-box-pack: end;
              -ms-flex-pack: end;
}

/* H1-H6 Margin Reset in all Modules */
.uabb-module-content h1,
.uabb-module-content h2,
.uabb-module-content h3,
.uabb-module-content h4,
.uabb-module-content h5,
.uabb-module-content h6 {
    margin: 0;
    clear: both;
}

/* Anchor Tag Css */

.fl-module-content a,
.fl-module-content a:hover,
.fl-module-content a:focus {
    text-decoration: none;
}

/* Row Separator CSS */

.uabb-row-separator {
    position: absolute;
    width: 100%;
    left: 0;
}

.uabb-top-row-separator {
    top: 0;
    bottom: auto
}

.uabb-bottom-row-separator {
    top: auto;
    bottom: 0;
}

.fl-builder-content-editing .fl-visible-medium.uabb-row,
.fl-builder-content-editing .fl-visible-medium-mobile.uabb-row,
.fl-builder-content-editing .fl-visible-mobile.uabb-row {
    display: none !important;
}

@media (max-width: 992px) {

    .fl-builder-content-editing .fl-visible-desktop.uabb-row,
    .fl-builder-content-editing .fl-visible-mobile.uabb-row {
        display: none !important;
    }

    .fl-builder-content-editing .fl-visible-desktop-medium.uabb-row,
    .fl-builder-content-editing .fl-visible-medium.uabb-row,
    .fl-builder-content-editing .fl-visible-medium-mobile.uabb-row {
        display: block !important;
    }
}

@media (max-width: 768px) {
    .fl-builder-content-editing .fl-visible-desktop.uabb-row,
    .fl-builder-content-editing .fl-visible-desktop-medium.uabb-row,
    .fl-builder-content-editing .fl-visible-medium.uabb-row {
        display: none !important;
    }

    .fl-builder-content-editing .fl-visible-medium-mobile.uabb-row,
    .fl-builder-content-editing .fl-visible-mobile.uabb-row {
        display: block !important;
    }
}

/*.ult-main-seperator-inner {
    position: relative;
    height: 100%;
    width: 100%
}*/

.fl-responsive-preview-content .fl-builder-content-editing {
    overflow-x: hidden;
    overflow-y: visible;
}

.uabb-row-separator svg {
    width: 100%;
}

.uabb-top-row-separator.uabb-has-svg svg {
    position: absolute;
    padding: 0;
    margin: 0;
    left: 50%;
    top: -1px;
    bottom: auto;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.uabb-bottom-row-separator.uabb-has-svg svg {
    position: absolute;
    padding: 0;
    margin: 0;
    left: 50%;
    bottom: -1px;
    top: auto;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}
.uabb-bottom-row-separator.uabb-has-svg .uasvg-wave-separator {
    bottom: 0;
}
.uabb-top-row-separator.uabb-has-svg .uasvg-wave-separator {
    top: 0;
}

/**
 *
 *  Svg Triangle Separator
 *  Big Triangle Separator
 *  Big Triangle Left Separator
 *  Svg Half Circle Separator
 *  Curve Center Separator
 *  Waves Separator
 *  Stamp
 *  Grass
 *  Slime
 *  Grass Bend
 *  Wave Slide
 *  Muliple Triangles
 *  Pine Tree
 *  Pine Tree Bend
 *
 ***************************************/
.uabb-bottom-row-separator.uabb-svg-triangle svg,
.uabb-bottom-row-separator.uabb-xlarge-triangle svg,
.uabb-top-row-separator.uabb-xlarge-triangle-left svg,
.uabb-bottom-row-separator.uabb-svg-circle svg,
.uabb-top-row-separator.uabb-slime-separator svg,
.uabb-top-row-separator.uabb-grass-separator svg,
.uabb-top-row-separator.uabb-grass-bend-separator svg,
.uabb-bottom-row-separator.uabb-mul-triangles-separator svg,
.uabb-top-row-separator.uabb-wave-slide-separator svg,
.uabb-top-row-separator.uabb-pine-tree-separator svg,
.uabb-top-row-separator.uabb-pine-tree-bend-separator svg,
.uabb-bottom-row-separator.uabb-stamp-separator svg,
.uabb-bottom-row-separator.uabb-xlarge-circle svg,
.uabb-top-row-separator.uabb-wave-separator svg{
    left: 50%;
    -webkit-transform: translateX(-50%) scaleY(-1);
       -moz-transform: translateX(-50%) scaleY(-1);
        -ms-transform: translateX(-50%) scaleY(-1);
         -o-transform: translateX(-50%) scaleY(-1);
            transform: translateX(-50%) scaleY(-1);
}

/*
 *  Big Triangle
*/
.uabb-bottom-row-separator.uabb-big-triangle svg {
    left: 50%;
    -webkit-transform: scale(1) scaleY(-1) translateX(-50%);
       -moz-transform: scale(1) scaleY(-1) translateX(-50%);
        -ms-transform: scale(1) scaleY(-1) translateX(-50%);
         -o-transform: scale(1) scaleY(-1) translateX(-50%);
            transform: scale(1) scaleY(-1) translateX(-50%);
}

.uabb-top-row-separator.uabb-big-triangle svg {
    left: 50%;
    -webkit-transform: translateX(-50%) scale(1);
       -moz-transform: translateX(-50%) scale(1);
        -ms-transform: translateX(-50%) scale(1);
         -o-transform: translateX(-50%) scale(1);
            transform: translateX(-50%) scale(1);
}

/**
 *
 *  Big Triangle Right Separator
 *
 ***************************************/
.uabb-top-row-separator.uabb-xlarge-triangle-right svg {
    left: 50%;
    -webkit-transform: translateX(-50%) scale(-1);
       -moz-transform: translateX(-50%) scale(-1);
        -ms-transform: translateX(-50%) scale(-1);
         -o-transform: translateX(-50%) scale(-1);
            transform: translateX(-50%) scale(-1);
}

.uabb-bottom-row-separator.uabb-xlarge-triangle-right svg {
    left: 50%;
    -webkit-transform: translateX(-50%) scaleX(-1);
       -moz-transform: translateX(-50%) scaleX(-1);
        -ms-transform: translateX(-50%) scaleX(-1);
         -o-transform: translateX(-50%) scaleX(-1);
            transform: translateX(-50%) scaleX(-1);
}

/**
 *
 *  Curve Left Separator
 *  Curve Right Separator
 *
 ***************************************/
.uabb-top-row-separator.uabb-curve-up-separator svg {
    left: 50%;
     -webkit-transform: translateX(-50%) scaleY(-1);
       -moz-transform: translateX(-50%) scaleY(-1);
        -ms-transform: translateX(-50%) scaleY(-1);
         -o-transform: translateX(-50%) scaleY(-1);
            transform: translateX(-50%) scaleY(-1);
}

.uabb-top-row-separator.uabb-curve-down-separator svg {
    left: 50%;
    -webkit-transform: translateX(-50%) scale(-1);
       -moz-transform: translateX(-50%) scale(-1);
        -ms-transform: translateX(-50%) scale(-1);
         -o-transform: translateX(-50%) scale(-1);
            transform: translateX(-50%) scale(-1);
}

.uabb-bottom-row-separator.uabb-curve-down-separator svg {
    left: 50%;
    -webkit-transform: translateX(-50%) scaleX(-1);
       -moz-transform: translateX(-50%) scaleX(-1);
        -ms-transform: translateX(-50%) scaleX(-1);
         -o-transform: translateX(-50%) scaleX(-1);
            transform: translateX(-50%) scaleX(-1);
}


/**
 *
 *  Tilt Left Separator
 *  Tilt Right Separator
 *
 ***************************************/

.uabb-top-row-separator.uabb-tilt-left-separator svg {
    left: 50%;
    -webkit-transform: translateX(-50%) scale(-1);
       -moz-transform: translateX(-50%) scale(-1);
        -ms-transform: translateX(-50%) scale(-1);
         -o-transform: translateX(-50%) scale(-1);
            transform: translateX(-50%) scale(-1);
}

.uabb-top-row-separator.uabb-tilt-right-separator svg{
    left: 50%;
    -webkit-transform: translateX(-50%) scaleY(-1);
       -moz-transform: translateX(-50%) scaleY(-1);
        -ms-transform: translateX(-50%) scaleY(-1);
         -o-transform: translateX(-50%) scaleY(-1);
            transform: translateX(-50%) scaleY(-1);
}

.uabb-bottom-row-separator.uabb-tilt-left-separator svg {
    left: 50%;
    -webkit-transform: translateX(-50%);
       -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
         -o-transform: translateX(-50%);
            transform: translateX(-50%);
}

.uabb-bottom-row-separator.uabb-tilt-right-separator svg {
    left: 50%;
    -webkit-transform: translateX(-50%) scaleX(-1);
       -moz-transform: translateX(-50%) scaleX(-1);
        -ms-transform: translateX(-50%) scaleX(-1);
         -o-transform: translateX(-50%) scaleX(-1);
            transform: translateX(-50%) scaleX(-1);
}

.uabb-top-row-separator.uabb-tilt-left-separator,
.uabb-top-row-separator.uabb-tilt-right-separator {
    top: 0;
}

.uabb-bottom-row-separator.uabb-tilt-left-separator,
.uabb-bottom-row-separator.uabb-tilt-right-separator {
    bottom: 0;
}

/**
 *
 *  Clouds Separator
 *  Multi Triangle
 *  Arrow Inward
 *  Arrow Outward
 *
 ***************************************/

.uabb-top-row-separator.uabb-arrow-outward-separator svg,
.uabb-top-row-separator.uabb-arrow-inward-separator svg,
.uabb-top-row-separator.uabb-cloud-separator svg,
.uabb-top-row-separator.uabb-multi-triangle svg {
    left: 50%;
    -webkit-transform: translateX(-50%) scaleY(-1);
       -moz-transform: translateX(-50%) scaleY(-1);
        -ms-transform: translateX(-50%) scaleY(-1);
         -o-transform: translateX(-50%) scaleY(-1);
            transform: translateX(-50%) scaleY(-1);
}

.uabb-bottom-row-separator.uabb-multi-triangle svg {
    bottom: -2px;
}

.uabb-row-separator.uabb-round-split:after,
.uabb-row-separator.uabb-round-split:before {
    left: 0;
    width: 50%;
    background: inherit inherit/inherit inherit inherit inherit;
    content: '';
    position: absolute
}


/* Buttons
------------------------------------------------------ */

.uabb-button-wrap a,
.uabb-button-wrap a:visited {
    /*background: #fafafa;*/
    /*border: 1px solid #ccc;*/
    /* Need to delete later
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;*/
    /*color: #333;*/
    display: inline-block;
    font-size: 16px;
    /*font-weight: normal;*/
    line-height: 18px;
    /*padding: 12px 24px;*/
    text-decoration: none;
    text-shadow: none;
}
.uabb-button-wrap a *,
.uabb-button-wrap a:visited * {
    /*color: #333;*/
}
.fl-builder-content .uabb-button:hover {
    text-decoration: none;
}

.fl-builder-content .uabb-button-width-full .uabb-button {
    display: block;
    text-align: center;
}

.uabb-button-width-custom .uabb-button {
    display: inline-block;
    text-align: center;
    max-width: 100%;
}
.fl-builder-content .uabb-button-left {
    text-align: left;
}
.fl-builder-content .uabb-button-center {
    text-align: center;
}
.fl-builder-content .uabb-button-right {
    text-align: right;
}

/*.fl-builder-content .uabb-button i {
    vertical-align: middle;
}*/

.fl-builder-content .uabb-button i,
.fl-builder-content .uabb-button i:before {
    font-size: 1em;
    height: 1em;
    line-height: 1em;
    width: 1em;
    /*margin-right:8px;*/
}

.uabb-button .uabb-button-icon-after {
    margin-left: 8px;
    margin-right: 0;
}
.uabb-button .uabb-button-icon-before {
    margin-left: 0;
    margin-right: 8px;
}
.uabb-button .uabb-button-icon-no-text {
    margin: 0;
}
.uabb-button-has-icon .uabb-button-text {
    vertical-align: middle;
}

/* Icons
------------------------------------------------------ */

.uabb-icon-wrap {
    display: inline-block;
}
/*.uabb-icon {
    display: table-cell;
    vertical-align: middle;
}*/
.uabb-icon a {
    text-decoration: none;
}
.uabb-icon i {
    /*float: left;*/
    display: block;
}
.uabb-icon i:before {
    border: none !important;
    background: none !important;
}
.uabb-icon-text {
    display: table-cell;
    text-align: left;
    padding-left: 15px;
    vertical-align: middle;
}
.uabb-icon-text *:last-child {
    margin: 0 !important;
    padding: 0 !important;
}
.uabb-icon-text a {
    text-decoration: none;
}

/* Photos
------------------------------------------------------ */

.uabb-photo {
    line-height: 0;
    position: relative;
    z-index: 2;
}
.uabb-photo-align-left {
    text-align: left;
}
.uabb-photo-align-center {
    text-align: center;
}
.uabb-photo-align-right {
    text-align: right;
}
.uabb-photo-content {
    border-radius: 0;
    display: inline-block;
    line-height: 0;
    position: relative;
    max-width: 100%;
    overflow: hidden;
}
.uabb-photo-content img {
    border-radius: inherit;
    display: inline;
    height: auto;
    max-width: 100%;
    width: auto;
}
.fl-builder-content .uabb-photo-crop-circle img {
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}
.fl-builder-content .uabb-photo-crop-square img {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.uabb-photo-caption {
    font-size: 13px;
    line-height: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.uabb-photo-caption-below {
    padding-bottom: 20px;
    padding-top: 10px;
}
.uabb-photo-caption-hover {
    background: rgba(0,0,0,0.7);
    bottom: 0;
    color: #fff;
    left: 0;
    opacity: 0;
    visibility: hidden;
    filter: alpha(opacity = 0);
    padding: 10px 15px;
    position: absolute;
    right: 0;
    -webkit-transition:visibility 200ms linear;
    -moz-transition:visibility 200ms linear;
    transition:visibility 200ms linear;
}
.uabb-photo-content:hover .uabb-photo-caption-hover {
    opacity: 100;
    visibility: visible;
    /*filter: alpha(opacity = 100);*/
}

/* Panel & Buttons
------------------------------------------------------ */
.uabb-active-btn {
    background: #1e8cbe;
    border-color: #0074a2;
    -webkit-box-shadow: inset 0 1px 0 rgba(120,200,230,.6);
    box-shadow: inset 0 1px 0 rgba(120,200,230,.6);
    color: white;
}
.fl-builder-bar .fl-builder-add-content-button {
    display: block !important;
    opacity: 1 !important;
}

/* Image Icon Object */
.uabb-imgicon-wrap .uabb-icon {
    display: block;
}
.uabb-imgicon-wrap .uabb-icon i{
    float: none;
}

/* Photo */


.uabb-imgicon-wrap .uabb-image {
    line-height: 0;
    position: relative;
}
.uabb-imgicon-wrap .uabb-image-align-left {
    text-align: left;
}
.uabb-imgicon-wrap .uabb-image-align-center {
    text-align: center;
}
.uabb-imgicon-wrap .uabb-image-align-right {
    text-align: right;
}
.uabb-imgicon-wrap .uabb-image-content {
    display: inline-block;
    border-radius: 0;
    line-height: 0;
    position: relative;
    max-width: 100%;
}
.uabb-imgicon-wrap .uabb-image-content img {
    display: inline;
    height: auto !important;
    max-width: 100%;
    width: auto;
    border-radius: inherit;
    box-shadow: none;
    box-sizing: content-box;
}
.fl-builder-content .uabb-imgicon-wrap .uabb-image-crop-circle img {
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}
.fl-builder-content .uabb-imgicon-wrap .uabb-image-crop-square img {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}


/* Creative Button
___________________________________________________________________________*/

.uabb-creative-button-wrap a,
.uabb-creative-button-wrap a:visited {
    background: #fafafa;
    border: 1px solid #ccc;
    color: #333;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    overflow: hidden;
    text-decoration: none;
    text-shadow: none;
    box-shadow: none;
    position: relative;
    -webkit-transition: all 200ms linear;
       -moz-transition: all 200ms linear;
        -ms-transition: all 200ms linear;
         -o-transition: all 200ms linear;
            transition: all 200ms linear;

}

.uabb-creative-button-wrap a:focus {
    text-decoration: none;
    text-shadow: none;
    box-shadow: none;
}

.uabb-creative-button-wrap a .uabb-creative-button-text,
.uabb-creative-button-wrap a .uabb-creative-button-icon,
.uabb-creative-button-wrap a:visited .uabb-creative-button-text,
.uabb-creative-button-wrap a:visited .uabb-creative-button-icon {
    -webkit-transition: all 200ms linear;
       -moz-transition: all 200ms linear;
        -ms-transition: all 200ms linear;
         -o-transition: all 200ms linear;
            transition: all 200ms linear;
}

.uabb-creative-button-wrap a:hover {
    text-decoration: none;
}

.uabb-creative-button-wrap .uabb-creative-button-width-full .uabb-creative-button {
    display: block;
    text-align: center;
}
.uabb-creative-button-wrap .uabb-creative-button-width-custom .uabb-creative-button {
    display: inline-block;
    text-align: center;
    max-width: 100%;
}
.uabb-creative-button-wrap .uabb-creative-button-left {
    text-align: left;
}
.uabb-creative-button-wrap .uabb-creative-button-center {
    text-align: center;
}
.uabb-creative-button-wrap .uabb-creative-button-right {
    text-align: right;
}
.uabb-creative-button-wrap .uabb-creative-button i {
    font-size: 1.3em;
    height: auto;
    vertical-align: middle;
    width: auto;
}

.uabb-creative-button-wrap .uabb-creative-button .uabb-creative-button-icon-after {
    margin-left: 8px;
    margin-right: 0;
}
.uabb-creative-button-wrap .uabb-creative-button .uabb-creative-button-icon-before {
    margin-right: 8px;
    margin-left: 0;
}
.uabb-creative-button-wrap.uabb-creative-button-icon-no-text .uabb-creative-button i {
    margin: 0;
}

.uabb-creative-button-wrap .uabb-creative-button-has-icon .uabb-creative-button-text {
    vertical-align: middle;
}
.uabb-creative-button-wrap a,
.uabb-creative-button-wrap a:visited {
    padding: 12px 24px;
}

/*  Translate Button styles */

.uabb-creative-button.uabb-creative-transparent-btn {
    background: transparent;
}
.uabb-creative-button.uabb-creative-transparent-btn:after {
    content: '';
    position: absolute;
    z-index: 1;
    -webkit-transition: all 200ms linear;
       -moz-transition: all 200ms linear;
        -ms-transition: all 200ms linear;
         -o-transition: all 200ms linear;
            transition: all 200ms linear;
}

/* transparent-fill-top, transparent-fill-bottom  */
.uabb-transparent-fill-top-btn:after,
.uabb-transparent-fill-bottom-btn:after {
    width: 100%;
    height: 0;
    left: 0;
}

/* transparent-fill-top */
.uabb-transparent-fill-top-btn:after {
    top: 0;
}
/* transparent-fill-bottom */
.uabb-transparent-fill-bottom-btn:after {
    bottom: 0;
}

/* transparent-fill-left, transparent-fill-right */
.uabb-transparent-fill-left-btn:after,
.uabb-transparent-fill-right-btn:after {
    width: 0;
    height: 100%;
    top: 0;
}

/* transparent-fill-left */
.uabb-transparent-fill-left-btn:after {
    left: 0;
}
/* transparent-fill-right */
.uabb-transparent-fill-right-btn:after {
    right: 0;
}


/* transparent-fill-center */
.uabb-transparent-fill-center-btn:after{
    width: 0;
    height: 100%;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
       -moz-transform: translateX(-50%) translateY(-50%);
        -ms-transform: translateX(-50%) translateY(-50%);
         -o-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
}

/*  transparent-fill-diagonal, transparent-fill-horizontal  */
.uabb-transparent-fill-diagonal-btn:after,
.uabb-transparent-fill-horizontal-btn:after {
    width: 100%;
    height: 0;
    top: 50%;
    left: 50%;
}

/*  transparent-fill-diagonal */
.uabb-transparent-fill-diagonal-btn{
    overflow: hidden;
}
.uabb-transparent-fill-diagonal-btn:after{
    -webkit-transform: translateX(-50%) translateY(-50%) rotate( 45deg );
       -moz-transform: translateX(-50%) translateY(-50%) rotate( 45deg );
        -ms-transform: translateX(-50%) translateY(-50%) rotate( 45deg );
         -o-transform: translateX(-50%) translateY(-50%) rotate( 45deg );
            transform: translateX(-50%) translateY(-50%) rotate( 45deg );
}
/* transparent-fill-horizontal */
.uabb-transparent-fill-horizontal-btn:after{
    -webkit-transform: translateX(-50%) translateY(-50%);
       -moz-transform: translateX(-50%) translateY(-50%);
        -ms-transform: translateX(-50%) translateY(-50%);
         -o-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
}


/*  3D Button styles */
.uabb-creative-button-wrap .uabb-creative-threed-btn.uabb-threed_down-btn,
.uabb-creative-button-wrap .uabb-creative-threed-btn.uabb-threed_up-btn,
.uabb-creative-button-wrap .uabb-creative-threed-btn.uabb-threed_left-btn,
.uabb-creative-button-wrap .uabb-creative-threed-btn.uabb-threed_right-btn {
    -webkit-transition: none;
       -moz-transition: none;
        -ms-transition: none;
         -o-transition: none;
            transition: none;
}

/*a.uabb-creative-threed-btn.uabb-animate_top-btn,
a.uabb-creative-threed-btn.uabb-animate_bottom-btn,
a.uabb-creative-threed-btn.uabb-animate_left-btn,
a.uabb-creative-threed-btn.uabb-animate_right-btn {
    -webkit-transition: all 200ms;
       -moz-transition: all 200ms;
        -ms-transition: all 200ms;
         -o-transition: all 200ms;
            transition: all 200ms;
} */

.perspective {
    -webkit-perspective: 800px;
       -moz-perspective: 800px;
            perspective: 800px;
            margin: 0;
}
.uabb-creative-button.uabb-creative-threed-btn:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 200ms linear;
       -moz-transition: all 200ms linear;
            transition: all 200ms linear;
}

.uabb-creative-button.uabb-creative-threed-btn {
    /*display: block;*/
    outline: 1px solid transparent;
    -webkit-transform-style: preserve-3d;
       -moz-transform-style: preserve-3d;
            transform-style: preserve-3d;
}

/*  3D Button styles --- Animate to top */
.uabb-creative-threed-btn.uabb-animate_top-btn:after {
    height: 40%;
    left: 0;
    top: -40%;
    width: 100%;
    -webkit-transform-origin: 0% 100%;
       -moz-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
    -webkit-transform: rotateX(90deg);
       -moz-transform: rotateX(90deg);
            transform: rotateX(90deg);
}

/*  3D Button styles --- Animate to bottom */
.uabb-creative-threed-btn.uabb-animate_bottom-btn:after {
    width: 100%;
    height: 40%;
    left: 0;
    top: 100%;

    -webkit-transform-origin: 0% 0%;
       -moz-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
            transform-origin: 0% 0%;

    -webkit-transform: rotateX(-90deg);
       -moz-transform: rotateX(-90deg);
        -ms-transform: rotateX(-90deg);
            transform: rotateX(-90deg);
}

/*  3D Button styles --- Animate to Left */
.uabb-creative-threed-btn.uabb-animate_left-btn:after {
    width: 20%;
    height: 100%;
    left: -20%;
    top: 0;
    -webkit-transform-origin: 100% 0%;
       -moz-transform-origin: 100% 0%;
        -ms-transform-origin: 100% 0%;
            transform-origin: 100% 0%;


    -webkit-transform: rotateY(-60deg);
       -moz-transform: rotateY(-60deg);
        -ms-transform: rotateY(-60deg);
            transform: rotateY(-60deg);
}

/*  3D Button styles --- Animate to Right */
.uabb-creative-threed-btn.uabb-animate_right-btn:after {
    width: 20%;
    height: 100%;
    left: 104%;
    top: 0;
    -webkit-transform-origin: 0% 0%;
       -moz-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
            transform-origin: 0% 0%;

    -webkit-transform: rotateY(120deg);
       -moz-transform: rotateY(120deg);
        -ms-transform: rotateY(120deg);
            transform: rotateY(120deg);
}


/* Animate Top */
.uabb-animate_top-btn:hover{
    -webkit-transform: rotateX(-15deg);
       -moz-transform: rotateX(-15deg);
        -ms-transform: rotateX(-15deg);
         -o-transform: rotateX(-15deg);
            transform: rotateX(-15deg);

}

/* Animate Bottom */
.uabb-animate_bottom-btn:hover{
    -webkit-transform: rotateX(15deg);
       -moz-transform: rotateX(15deg);
        -ms-transform: rotateX(15deg);
         -o-transform: rotateX(15deg);
            transform: rotateX(15deg);

}

/* Animate Left */
.uabb-animate_left-btn:hover{
    -webkit-transform: rotateY(6deg);
       -moz-transform: rotateY(6deg);
        -ms-transform: rotateY(6deg);
         -o-transform: rotateY(6deg);
            transform: rotateY(6deg);
}

/* Animate Right */
.uabb-animate_right-btn:hover{
    -webkit-transform: rotateY(-6deg);
       -moz-transform: rotateY(-6deg);
        -ms-transform: rotateY(-6deg);
         -o-transform: rotateY(-6deg);
            transform: rotateY(-6deg);

}




/*  Flat Button styles  */

/*  Common Classes  */
.uabb-creative-flat-btn.uabb-animate_to_right-btn,
.uabb-creative-flat-btn.uabb-animate_to_left-btn,
.uabb-creative-flat-btn.uabb-animate_from_top-btn,
.uabb-creative-flat-btn.uabb-animate_from_bottom-btn {
    overflow: hidden;
    position: relative;
}

.uabb-creative-flat-btn.uabb-animate_to_right-btn i,
.uabb-creative-flat-btn.uabb-animate_to_left-btn i,
.uabb-creative-flat-btn.uabb-animate_from_top-btn i,
.uabb-creative-flat-btn.uabb-animate_from_bottom-btn i {
    bottom: 0;
    height: 100%;
    margin: 0;
    opacity: 1;
    position: absolute;
    right: 0;
    width: 100%;
    -webkit-transition: all 200ms linear;
       -moz-transition: all 200ms linear;
            transition: all 200ms linear;
    -webkit-transform: translateY(0);
       -moz-transform: translateY(0);
         -o-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
}

.uabb-creative-flat-btn.uabb-animate_to_right-btn .uabb-button-text,
.uabb-creative-flat-btn.uabb-animate_to_left-btn .uabb-button-text,
.uabb-creative-flat-btn.uabb-animate_from_top-btn .uabb-button-text,
.uabb-creative-flat-btn.uabb-animate_from_bottom-btn .uabb-button-text {
    display: inline-block;
    width: 100%;
    height: 100%;
    -webkit-transition: all 200ms linear;
       -moz-transition: all 200ms linear;
        -ms-transition: all 200ms linear;
         -o-transition: all 200ms linear;
            transition: all 200ms linear;
    -webkit-backface-visibility: hidden;
       -moz-backface-visibility: hidden;
            backface-visibility: hidden;
}

/*  Making Icon position center  */
.uabb-creative-flat-btn.uabb-animate_to_right-btn i:before,
.uabb-creative-flat-btn.uabb-animate_to_left-btn i:before,
.uabb-creative-flat-btn.uabb-animate_from_top-btn i:before,
.uabb-creative-flat-btn.uabb-animate_from_bottom-btn i:before {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

/*  Common Hover Classes */
.uabb-creative-flat-btn.uabb-animate_to_right-btn:hover i,
.uabb-creative-flat-btn.uabb-animate_to_left-btn:hover i {
    left: 0;
}
.uabb-creative-flat-btn.uabb-animate_from_top-btn:hover i,
.uabb-creative-flat-btn.uabb-animate_from_bottom-btn:hover i {
    top: 0;
}


/*  Animate Icon to the right */
.uabb-creative-flat-btn.uabb-animate_to_right-btn i {
    top: 0;
    left: -100%;
}
.uabb-creative-flat-btn.uabb-animate_to_right-btn:hover .uabb-button-text {
    -webkit-transform: translateX(200%);
       -moz-transform: translateX(200%);
        -ms-transform: translateX(200%);
         -o-transform: translateX(200%);
            transform: translateX(200%);
}

/*  Animate Icon to the left */
.uabb-creative-flat-btn.uabb-animate_to_left-btn i {
    top: 0;
    left: 100%;
}

.uabb-creative-flat-btn.uabb-animate_to_left-btn:hover .uabb-button-text {
    -webkit-transform: translateX(-200%);
       -moz-transform: translateX(-200%);
        -ms-transform: translateX(-200%);
         -o-transform: translateX(-200%);
            transform: translateX(-200%);
}


/*  Animate Icon From the Top */
.uabb-creative-flat-btn.uabb-animate_from_top-btn i {
    top: -100%;
    left: 0;
}

/*.uabb-creative-flat-btn.uabb-animate_from_top-btn:hover span {
    -webkit-transform: translateY(500px);
       -moz-transform: translateY(500px);
        -ms-transform: translateY(500px);
         -o-transform: translateY(500px);
            transform: translateY(500px);*/

.uabb-creative-flat-btn.uabb-animate_from_top-btn:hover .uabb-button-text {
    -webkit-transform: translateY(400px);
       -moz-transform: translateY(400px);
        -ms-transform: translateY(400px);
         -o-transform: translateY(400px);
            transform: translateY(400px);
}

/*  Animate Icon From the Bottom */
.uabb-creative-flat-btn.uabb-animate_from_bottom-btn i {
    top: 100%;
    left: 0;
}


/*.uabb-creative-flat-btn.uabb-animate_from_bottom-btn:hover span {
    -webkit-transform: translateY(-500px);
       -moz-transform: translateY(-500px);
        -ms-transform: translateY(-500px);
         -o-transform: translateY(-500px);
            transform: translateY(-500px);*/

.uabb-creative-flat-btn.uabb-animate_from_bottom-btn:hover .uabb-button-text {
    -webkit-transform: translateY(-400px);
       -moz-transform: translateY(-400px);
        -ms-transform: translateY(-400px);
         -o-transform: translateY(-400px);
            transform: translateY(-400px);
}

/* Media/Video CSS */
.uabb-tab-acc-content .wp-video, 
.uabb-tab-acc-content video.wp-video-shortcode, 
.uabb-tab-acc-content .mejs-container:not(.mejs-audio), 
.uabb-tab-acc-content .mejs-overlay.load,
.uabb-adv-accordion-content .wp-video, 
.uabb-adv-accordion-content video.wp-video-shortcode, 
.uabb-adv-accordion-content .mejs-container:not(.mejs-audio), 
.uabb-adv-accordion-content .mejs-overlay.load {
    width: 100% !important;
    height: 100% !important;
}
.uabb-tab-acc-content .mejs-container:not(.mejs-audio),
.uabb-adv-accordion-content .mejs-container:not(.mejs-audio) {
    padding-top: 56.25%;
}
.uabb-tab-acc-content .wp-video, 
.uabb-tab-acc-content video.wp-video-shortcode,
.uabb-adv-accordion-content .wp-video, 
.uabb-adv-accordion-content video.wp-video-shortcode {
    max-width: 100% !important;
}
.uabb-tab-acc-content video.wp-video-shortcode,
.uabb-adv-accordion-content video.wp-video-shortcode {
    position: relative;
}
.uabb-tab-acc-content .mejs-container:not(.mejs-audio) .mejs-mediaelement,
.uabb-adv-accordion-content .mejs-container:not(.mejs-audio) .mejs-mediaelement {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.uabb-tab-acc-content .mejs-overlay-play,
.uabb-adv-accordion-content .mejs-overlay-play {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: auto !important;
    height: auto !important;
}
.fl-row-content-wrap .uabb-row-particles-background {
    width:100%;
    height:100%;
    position:absolute;
    left:0;
    top:0;
}
.uabb-col-particles-background {
    width:100%;
    height:100%;
    position:absolute;
    left:0;
    top:0;
}

/* Theme Button
------------------------------------------------------ */
/*.fl-builder-content a.uabb-button,
.fl-builder-content a.uabb-button:visited,
.fl-builder-content a.uabb-creative-button,
.fl-builder-content a.uabb-creative-button:visited*/

.uabb-creative-button-wrap a,
.uabb-creative-button-wrap a:visited {
		font-family: Open Sans;
			font-weight: 400;
	
	
	
	
	}

.uabb-dual-button .uabb-btn,
.uabb-dual-button .uabb-btn:visited {
		font-family: Open Sans;
			font-weight: 400;
		
	
	
	}


/* Responsive Js Breakpoint Css */

.uabb-js-breakpoint {
	content:"default";
	display:none;
}
@media screen and (max-width: 992px) {
	.uabb-js-breakpoint {
		content:"992";
	}
}

@media screen and (max-width: 768px) {
	.uabb-js-breakpoint {
		content:"768";
	}
}

/* Cache css end */





.coupon-msg .uabb-creative-default-btn{
	display: flex;
}
.footer .uabb-creative-menu.uabb-menu-default .menu > li > a{
	display: inline-block !important;
}

.button-wrapper-default a, .button-wrapper-default a.button {

    background: transparent!important;
    color: #6C0404!important;
    border: 2px solid #6C0404!important;
}
.product-detail-layout-6 .product-variations img{
	    min-height: 100px;
}
.gform_wrapper .gfield_time_ampm select{
	padding: 14px 7px !important;
    margin-left: -3px !important;
}
.entry-header > .entry-title{
	display: none!important;
	margin:0px!important;
}
.brandSlider .uabb-image-carousel .slick-track {
    display: flex;
        align-items: center;
}
.button-wrapper-default a:hover, .button-wrapper-default a.button:hover {

    background: #6C0404!important;
    color: #fff!important;
    border: 2px solid #6C0404!important;
}
.footer .store-opening-hrs{
	list-style: none;
}

.footer .store-opening-hrs li{
	position: relative;
}

.footer .store-opening-hrs li > span{
	position: absolute;
	right: 0px;
}
.footer .social-icons i{
	font-size: 24px!important;
}
#menu-main-menu > li > .sub-menu > li.uabb-has-submenu  span.uabb-menu-toggle{
	padding: 5px 10px!important;
}
#breadcrumbs a{
	text-transform: capitalize!important;
}
.custom_searchModule {
	display: none;
    z-index: 2;
    position: absolute;
    right: 0px;
 	background-color: #6C0004!important;
    width: 500px;
}
.custom_searchModule > .fl-module-content{
	background-color: #6C0004!important;
}
.custom_searchModule .widget_search .search-field, .custom_searchModule .widget_search .search-field:focus {
    padding: 8px 45px 8px 10px!important;
}
.footerCopyRightBar .fl-rich-text p, .footer .fl-rich-text > p{
	margin: 0px!important;
}
.footerCopyRightBar .fl-rich-text li{
	margin-bottom: 0px!important;
}
.footerCopyRightBar .social-icons i{
	color: #a49e99!important;
	font-size: 24px!important;
}
.ast-container #primary, .page .entry-header{
	margin: 0px!important;
}
.content.site-content {
	overflow-x: hidden!important;
}
 body .fl-button{
	background-clip: border-box;
	border-radius: 0px!important;
	border: 2px solid #6C0404!important;
	background: rgba(255,255,255,0)!important;

}
body .fl-button:hover{
	border-color: #6C0404!important;
	color: #ffffff!important;
	background: #6C0404!important;
}
body .fl-button:hover span{
    color: #ffffff!important;
}
.gfield{
	padding-right: 15px!important;
}
.gfield input[type=text]{
	width: 100%!important;
}
.product-grid > .product-row h2,  .entry-content .product-grid > .product-row h2, .entry-content .product-grid > .product-row h2 a {
    font-size: 30px!important;
}
.topBar .storename .phone a{
	color: #fff!important;
}
.topBar .storename .phone a > span:before{
	content: "\f095";
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    text-decoration: inherit;
    vertical-align: middle;
    margin-right: 5px!important;
}
.addressInline .fl-rich-text > p{
	margin: 0px!important;
}
.addressInline .fl-rich-text .storename .address a{
	display: flex!important;
}
.addressInline .fl-rich-text .storename .address a > p:nth-child(2){
	margin-left: 4px!important;
}
#responsive-menu-additional-content .storename .phone a > span:before{
	content: "\f095";
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    text-decoration: inherit;
    vertical-align: middle;
    margin-right: 5px!important;
}
#responsive-menu-additional-content .storename .phone a > span{
	color: #fff!important;
}
.search_result .product-grid h2 > a{
	font-size: 30px!important;
}

.search_result .product-grid .fl-button{
	display: inline-block!important;
    font-size: 16px!important;
    font-weight: normal!important;
    line-height: 18px!important;
    padding: 12px 24px!important;
    text-decoration: none!important;
    text-shadow: none!important;
}

.product-grid.swatch h4 {
    font-size: 14px!important;
}
.product-variations .slick-list{
	width: 100%!important;
}
.product-detail-layout-default .product-variations {
	display: inline-block!important;
} 
#breadcrumbs{
	position: relative!important;
	z-index: 10!important; 
}
.fl-content-slider-navigation > .slider-prev, .fl-content-slider-navigation > .slider-next{
	background-color: rgba(0,0,0,0.6)!important;
    padding: 4px!important;
}
.skin_btn .fl-button{
	background-color: #02528A!important;
	color: #fff!important;
}
.skin_btn .fl-button{
	background-color: #02528A!important;
	color: #fff!important;
}
.no-btn-skin > .fl-module-content > .fl-button-wrap > a.fl-button:hover * {
    color: #007e8e!important;
}
body .fl-button{
	color: #6C0404!important;
}
.store-opening-hrs li{
	    position: relative;
}
.store-opening-hrs li span{
	    position: absolute;
	    right: 0px;
}
.product-detail-layout-6 .button-wrapper{
    display: inline-block!important;
    width: 100%!important;
}
.blogPost .uabb-blog-posts-shadow{
	    height: auto!important;
}
.blogPost .widget .widgettitle{
	font-size: 26px!important;
}
.ast-title-bar-wrap {
    margin-bottom: 0px!important;
}
body.blog #content{
	padding: 20px!important;
}
.custom_searchHeader > i{
		font-size: 18px;
	    transform: rotate(90deg);
	}
 @media screen and (min-width: 768.5px) and (max-width: 1366.5px) {
	
	#menu-main-menu > li.menu-item-has-children > div{
		display: flex;
	    align-items: center;
	}
#menu-main-menu > li.menu-item-has-children > div > span{
	order: 1;
	color: #b49462!important;
	padding-left: 5px!important;
}

 }

@media screen and (min-width: 768.5px) and (max-width: 1024px) {
h3.uabb-ultb3-title {
    font-size: 26px!important;
}

}
@media screen and (max-width: 1024px) {
	.style-product_list .pro-container > .row > .col-md-7{
		width: 100%!important;
		min-height: 400px!important;
	}
	.ginput_container_time input{
		    padding: 15px 5px !important;
    text-align: center !important;
	}
	.product-detail-layout-6 .fl-post-content > div:nth-child(3){
		clear: both !important;
	}
}
@media(min-width:990px) and (max-width:1040px){
	.fl-builder-row-template .fl-module-info-box{
		margin-left: 90px;
	}
	ul.store-opening-hrs * {
    font-size: 10px !important;
}
}
@media screen and (max-width: 992px) {
	#responsive-menu-additional-content, #responsive-menu-search-box{
		padding: 10px 5%!important;
	}
/* 	.ast-custom-header > div > div > div:nth-child(1){
		display: none!important;
	} */

	.uabb-creative-menu-mobile-toggle-container {
		display: none!important;
	}
	#responsive-menu-container #responsive-menu li.responsive-menu-item .responsive-menu-item-link{
		text-transform: uppercase;
	}

	.ast-custom-header #menu-main-menu {
		display: none!important;
	}
	button#responsive-menu-button{
		width: 40px!important;
		height: 40px!important;
	}
}

@media screen and (max-width: 768px) {
	body.page-template #page{
		overflow: hidden;
	}
	h1.uabb-infobox-title-prefix {
    font-size: 30px !important;
    line-height: 1.3 !important;
}
	h2, .entry-content h2, .entry-content h2 a {
    font-size: 40px;
    line-height: 1.3;
}
	.fl-builder-content .fl-module-content-slider .fl-slide .fl-slide-content{
		padding: 0px !important;
	}
	.footer .fl-module-heading .fl-heading,
	.footerCopyRightBar .fl-rich-text p, .footer .fl-rich-text > p{
		text-align: center !important;
	}
	.store-opening-hrs{
		    max-width: 190px;
    margin: 0 auto !important;
	}
	.fl-slide-0 .fl-slide-content{
		padding: 0px!important;
		background: #fff!important;
	}
	.max-width-issue{
		max-width: 360px!important;
	}
	.max-width-issuetwo{
		max-width: 400px!important;
	}
	  .headerLogo .uabb-photo-content img{
   		width: 225px!important;
   }
	button#responsive-menu-button{
		position: absolute!important;
	}
	.fl-slide-0 .fl-slide-content {
    	background-color: #fff;
	}
	.product-grid > .product-row h2,  .entry-content .product-grid > .product-row h2, .entry-content .product-grid > .product-row h2 a {
    font-size: 30px!important;
}
}
@media(max-width: 767px){
	.featured-products .featured-product-list .featured-product-item {
    width: 100%;
}
		h1.uabb-infobox-title-prefix {
    font-size: 30px !important;
    line-height: 1.3 !important;
}
	.gform_wrapper.gravity-theme .gfield.gfield--width-half.mobfull {
		    grid-column: span 12!important;
	}
}
@media screen and (max-width: 425px) {
	.mhtwen > .fl-module-content{
		margin-left: 20px!important;
		margin-right: 20px!important;
	}
	
	.gfield{
	padding-right: 0px!important;
}
	.max-width-issue{
		max-width: none!important;
	}

.gform_footer {
	padding-right: 15px!important;
}
	.fl-builder-row-template .fl-module-info-box {
    margin-left: 60px;
}
	.uabb-photo-gallery-item {
    width: 100% !important;
    margin: 10px !important;
}
}